@model CreateRoomViewModel

@{

}

<head>
    <link rel="stylesheet" href="~/css/InputError.css" />
    <link rel="stylesheet" href="~/css/christmas.css" />
</head>
<body>
    <h1>Create Session</h1>
    <form asp-action="CreateRoom">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label>Enter a unique room code: </label>
            <input asp-for="RoomCode" asp-action="CreateRoom" class="form-control"/>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
