@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <a asp-action="CreateRoom">Start a Session</a>
    </div>
    <div>
        <a asp-action="JoinRoom">Join a Session</a>
    </div>
</div>
