@model RecipientViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<head>
    <link rel="stylesheet" href="~/css/InputError.css" />
    <link rel="stylesheet" href="~/css/christmas.css" />
</head>
<body>
    <h1>Your gift recipient is @Model.RecipientName</h1>
</body>