@model RoomViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <link rel="stylesheet" href="~/css/InputError.css" />
    <link rel="stylesheet" href="~/css/christmas.css" />
</head>
<body>
    <h1>People in the room:</h1>

    <ul>
        @foreach(Gifter gifter in Model.Room.Gifters)
        {
            <li>@gifter.Name</li>
        }
    </ul>

    <a asp-action="Recipient" asp-route-roomID="@Model.RoomCode">Get your Secret Santa recipient</a>
</body>